.table {
    overflow: hidden;
}

.table th {
    background-color: #00614D !important;
    color: white !important;
}

.dados-col {
    min-width: 80px;
}

.comentario-col {
    min-width: 200px;
}

.bg-simoldes {
    background-color: #00614D;
}

.bg-simoldes-dark {
    background-color: #265245 !important;
}

.larger-text {
    font-size: 1.2rem;
}