.bg-body-simoldes {
    background-color: #00614D;
}

.btn-simoldes {
    color: #fff;
    background-color: #00614D;
}

.btn-simoldes:hover {
    color: #fff;
    background-color: #06836a;
}

.border-simoldes {
    border-color: #00614D;
}

.logo-sim {
    filter: grayscale(100) brightness(100);
}

.rotate {
  transform: translateX(170px) translateY(62px) rotate(45deg);
  filter: drop-shadow(0 0 0.75rem #303030);
}