{% extends 'index.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<main class="mt-5 container">
  <h1>Gráficos</h1>
  <div class="accordion" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Rubricas
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="card card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <h5>Rubrica</h5>
              <img src="{% static chart_rubrica_url %}" class="img-fluid d-block mx-auto" alt="Gráfico Rubrica">
            </div>
            <div class="col-md-4 text-center">
              <h5>Rubrica Montador</h5>
              <img src="{% static chart_rubrica_montador_url %}" class="img-fluid d-block mx-auto"
                alt="Gráfico Rubrica Montador">
            </div>
            <div class="col-md-3 text-center">
              <h5>Projetos Status</h5>
              <img src="{% static chart_project_status_url %}" class="img-fluid d-block mx-auto" alt="Gráfico Projetos">
            </div>
            <div class="d-flex justify-content-end">
              <a href="{% url 'exportar_rubricas' %}" class="btn btn-success fs-4">
                Baixar Logs
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Funcionários
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="card card-body">
          <div class="row">
            <div class="col-md-3 text-center">
              <h5>Projetos Status</h5>
              <img src="{% static chart_project_status_url %}" class="img-fluid d-block mx-auto" alt="Gráfico Projetos">
            </div>
            <div class="col-md-4 text-center">
              <h5>Funcionários</h5>
              <img src="{% static chart_rubrica_url %}" class="img-fluid d-block mx-auto" alt="Gráfico Rubrica">
            </div>
            <div class="d-flex justify-content-end">
              <a href="{% url 'exportar_rubricas' %}" class="btn btn-success fs-4">
                Baixar Logs
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="mb-4">Todos os Projetos</h1>
  <div class="row g-4 mb-5">
    {% for projeto in projetos %}
    <div class="col-12 col-md-6 col-lg-4">
      <a href="{% url 'projeto_detail' projeto.id %}" class="card h-100 text-decoration-none text-body">
        <img src="{% if projeto.imagem %}{{ projeto.imagem.url }}{% else %}{% static 'imgs/capa.png' %}{% endif %}"
          class="card-img-top" alt="Capa do projeto">
        <div class="card-body">
          <h5 class="card-title">Projeto #{{ projeto.id }}</h5>
          <p class="card-text">
            <strong>Máquina:</strong> {{ projeto.maquina }}<br>
            <strong>Data:</strong> {{ projeto.data }}<br>
            <strong>Programador:</strong> {{ projeto.programador }}
          </p>
        </div>
      </a>
    </div>
    {% empty %}
    <p>Nenhum projeto cadastrado.</p>
    {% endfor %}
  </div>
</main>
{% endblock %}