{% extends 'index.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<main class="mt-5 container">
  <h1>Gráficos</h1>
  <section class="container mt-1 mb-0 p-0 larger-text">
    <div class="table-responsive rounded">
      <table class="table table-hover text-center">
        <thead class="table-light">
          <tr>
            <th><a class="btn btn-outline-success border-0 text-decoration-none text-white fs-4" data-bs-toggle="collapse" href="#graficos" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Rúbricas
              </a></th>
            <th><a class="btn btn-outline-success border-0 text-decoration-none text-white fs-4" data-bs-toggle="collapse" href="#funcionarios" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Funcionários
              </a></th>
          </tr>
        </thead>
      </table>
    </div>
  </section>

  <div class="collapse mt-0 mb-3" id="graficos">
    <div class="card card-body">
      <div class="row mb-5">
        <div class="col-md-4 text-center">
          <h5>Rúbrica</h5>
          <img src="{% static chart_rubrica_url %}" class="img-fluid d-block mx-auto" alt="Gráfico Rúbrica">
        </div>
        <div class="col-md-4 text-center">
          <h5>Rúbrica Montador</h5>
          <img src="{% static chart_rubrica_montador_url %}" class="img-fluid d-block mx-auto"
            alt="Gráfico Rúbrica Montador">
        </div>
        <div class="col-md-3 text-center">
          <h5>Projetos Status</h5>
          <img src="{% static chart_project_status_url %}" class="img-fluid d-block mx-auto" alt="Gráfico Projetos">
        </div>
        <div class="d-flex justify-content-end mb-3">
          <a href="{% url 'exportar_rubricas' %}" class="btn btn-success fs-4">
            Baixar Logs
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse mb-3" id="funcionarios">
    <div class="card card-body">
      <div class="row mb-5">
        <div class="col-md-3 text-center">
          <h5>Projetos Status</h5>
          <img src="{% static chart_project_status_url %}" class="img-fluid d-block mx-auto" alt="Gráfico Projetos">
        </div>
        <div class="col-md-4 text-center">
          <h5>Funcionários</h5>
          <img src="{% static chart_rubrica_url %}" class="img-fluid d-block mx-auto" alt="Gráfico Rúbrica">
        </div>
        <div class="d-flex justify-content-end mb-3">
          <a href="{% url 'exportar_rubricas' %}" class="btn btn-success fs-4">
            Baixar Logs
          </a>
        </div>
      </div>
    </div>
  </div>

  <h1 class="mb-4">Todos os Projetos</h1>
  <div class="row g-4 mb-5">
    {% for projeto in projetos %}
    <div class="col-12 col-md-6 col-lg-4">
      <a href="{% url 'projeto_detail' projeto.id %}" class="card h-100 text-decoration-none text-body">
        <img src="{% if projeto.imagem %}{{ projeto.imagem.url }}{% else %}{% static 'imgs/capa.png' %}{% endif %}"
          class="card-img-top" alt="Capa do projeto">
        <div class="card-body">
          <h5 class="card-title">Projeto #{{ projeto.id }}</h5>
          <p class="card-text">
            <strong>Máquina:</strong> {{ projeto.maquina }}<br>
            <strong>Data:</strong> {{ projeto.data }}<br>
            <strong>Programador:</strong> {{ projeto.programador }}
          </p>
        </div>
      </a>
    </div>
    {% empty %}
    <p>Nenhum projeto cadastrado.</p>
    {% endfor %}
  </div>
</main>
{% endblock %}